/* You can add global styles to this file, and also import other style files */

/* Global CSS Reset to remove all white borders */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
 
  border: none !important;
  outline: none !important;
  overflow-x: hidden;
}

